
p {
    font-size: 18px;
    padding: 20px;
}
  .icon-favorite-blue,
  .icon-favorite-green {
    vertical-align: bottom;
  }

.icon-favorite-blue {
    color: #0000ff;
}

.icon-favorite-green {
    color: #008000;
}

.alerta {
    font-weight: bold;
    color: #808080;
    font-size: 20px;
}
.botao-align {
    text-align: center;
    padding-top: 20px;
}

.botao {
    color: #fff;
    background-color: #d5232f;
    font-weight: 700;
    border-radius: 20px;
    border: 1px solid;
    width: 150px;
    padding: 4px 4px;
}