<p>
    Falta pouco para dar o match, você atingiu 5 curtidas
    <mat-icon class="icon-favorite-blue">favorite</mat-icon>
    Para dar o match precisa ultrapassar mais de 10 curtidas e o coração fica na cor
    <mat-icon class="icon-favorite-green">favorite</mat-icon>
    <label class="alerta">Lembrando que os dois deve ter a mesma quantidade de likes para dar o match.</label> 
  </p>
  <h2 class="m-4">Vamos continuar a curtir?</h2>
  <div class="botao-align mb-4">
    <button class="btn btn-danger" (click)="continue()" class="botao">Continuar</button>
  </div>
