/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

$white-background: #FFF;
$red-background-color: #d5232f;
$border-radius: 18px;
$width: 100%;
$position-absolute: absolute;
$position-relative: relative;
$cursor-pointer: pointer;

body {
    height: 100%;
    margin: 0;
    padding: 0;
}